.welcome {
  top: 200px;
  left: 50%;
  width: 838px;
  height: 528px;
  position: absolute;
  margin: -154px 0 0 -418px;
}

div.input-mini {
  height: 0.4em;
}

div.login-top-no-error {
  top: 0px;
}

div.login-top-error {
  top: 72px;
}
